/* Default */
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f9f7f3ed;
  color: #6a5432;
  font-size: 16px;
}

/* Company name & Navigation bar */

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
}

.nav-list {
  list-style-type: none;
  margin-left: 30px;
  transition-duration: 0.4s;
}

.nav-list:hover,
.nav-icon:hover {
  transform: scale(1.1);
}

.nav-list:active,
.nav-icon:active {
  color: #6a5432;
  transform: translateY(-0.1875em);
  transition: all 2ms ease-in-out;
}

.nav-icon-list {
  display: flex;
  justify-content: right;
  padding: 30px;
  font-size: 1em;
}

.nav-icon {
  font-size: 1.2em;
  margin-left: 30px;
}

.company-symbol {
  width: 70px;
  height: 70px;
  padding-left: 60px;
}

h3 {
  font-size: 4em;
  font-family: PT Serif;
  letter-spacing: 5px;
  padding-left: 100px;
}

.message {
  font-size: 1.2em;
  letter-spacing: 2px;
  width: 50%;
  padding: 30px 0 0 100px;
  font-weight: bold;
}

/*Main Section*/
main {
  width: 100%;
  height: 650px;
  background-image: url(assets/room1.jpeg), url(assets/room2.jpeg);
  background-repeat: no-repeat, no-repeat;
  background-size: 38% 100%, 28% 100%;
  background-position: center, right;
  margin-bottom: 50px;
}

/* button */
.shop-now {
  color: #6a5432;
  background-color: #f9f7f3ed;
  border: 2px #6a5432 solid;
  box-shadow: 0px 5px #6a5432;
  cursor: pointer;
  border-radius: 5px;
  margin: 50px 100px 0 100px;
  padding: 15px 25px;
  max-width: 130px;
}

.shop-now:hover {
  transform: scale(1.1, 1.1);
}

.shop-now:active {
  color: white;
  background-color: #6a5432;
  box-shadow: none;
  position: relative;
  top: 3px;
}

.page-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px 0;
  font-size: 2.2em;
  letter-spacing: 5px;
}

/* Best seller ranking */
.bestseller {
  background-color: white;
  height: 100%;
}

.bestseller-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.no1,
.no2,
.no3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.best-image {
  width: 300px;
  height: 300px;
}

.num-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.number {
  font-size: 2em;
  padding-right: 10px;
}

.bestseller-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*--------------------------------------------------------*/
/* Policy */

.policy {
  /* display: flex;
  flex-direction: row;
  justify-content: center; */
  padding: 40px 0 30px 0;
}

.policy-list,
.policy-icon {
  font-size: 1.2em;
  padding-bottom: 10px;
}

.policy-description {
  /* display: flex;
  flex-direction: row;
  justify-content: center; */
  margin: 0 20px 0 20px;
}

.policy-icon {
  font-size: 1.5em;
}

.shipping,
.design,
.material {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*--------------------------------------------------------*/
/* Latest Product */

.latest {
  background-color: white;
  height: 100%;
  width: 100%;
  padding-bottom: 50px;
}

.image-latest {
  width: 270px;
  height: 350px;
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
}

.product-name,
.latest-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.product-name {
  padding-bottom: 20px;
}

.btn-latest {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Guide page to shop site */
.guide-to-shopsite {
  background-image: url(assets/room3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.guide-sentence {
  font-family: PT serif;
  display: block;
  font-size: 2.5em;
  letter-spacing: 2px;
  padding-left: 120px;
}

.guide-sentence:first-child {
  padding-top: 120px;
}

/* Email subscription page */
.subscription {
  background-color: white;
  height: 100%;
}

.subsc-title {
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 30px;
}

.subsc-description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px 50px;
}

#email {
  width: 30em;
  padding: 7px;
  border: #6a5432 1.5px solid;
}

#submit-email {
  padding: 7px 20px;
  border: #6a5432 1.5px solid;
  background-color: #6a5432;
  color: white;
}

#submit-email:hover {
  color: white;
  background-color: #b09a85;
  border-left: none;
}

#submit-email:active {
  background-color: #f9f7f3ed;
  color: #6a5432;
  border: #6a5432 1.5px solid;
  border-left: none;
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 30px 30px 30px;
}

/* Footer */
footer {
  background-color: #6a5432;
  color: #f9f7f3ed;
}

.footer-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.company-symbol-footer {
  height: 100px;
  width: 100px;
}

.company-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 0 0 30px;
}

.footer-title {
  font-size: 2em;
  font-family: PT serif;
  letter-spacing: 2px;
  padding: 15px 0 0 30px;
}

.address {
  padding-left: 30px;
}

.contact-info {
  padding: 30px 50px 0 0;
}

.contact {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.contact {
  letter-spacing: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.phone-number,
.mail-address {
  font-size: 1em;
}

#contact-number,
#contact-email {
  color: white;
  text-decoration: none;
}

#contact-number:hover,
#contact-email:hover {
  text-decoration: underline;
}

#contact-number:active,
#contact-email:active {
  transform: translateY(-0.1875em);
  transition: all 2ms ease-in-out;
}

.contact-logo {
  padding-right: 7px;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 2em;
  margin: 20px 0;
}
.contact-icon {
  transition-duration: 0.4s;
}
.contact-icon:hover {
  transform: scale(1.1);
}

.contact-icon:active {
  transform: translateY(-0.1875em);
  transition: all 2ms ease-in-out;
}

.all-right-reserved {
  font-size: 0.3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 7px 0;
  border-top: #b09a85 1px solid;
}

/* ------------------------------------------------------- */

/* For small laptop or tablet */
@media screen and (max-width: 960px) {
  body {
    font-size: 14px;
  }

  main {
    background-image: url(assets/room1.jpeg);
    background-repeat: no-repeat;
    background-size: 70% 100%;
    background-position: right;
    margin-bottom: 40px;
  }

  .btn-latest-product {
    margin: 1rem 3rem 0 3rem;
  }

  .company-symbol-footer {
    height: 70px;
    width: 70px;
  }

  .footer-title {
    letter-spacing: 1px;
    padding: 0 0 0 15px;
  }

  .address {
    font-size: 0.8em;
    padding-left: 15px;
    width: 80%;
  }

  .contact-info {
    padding: 30px 30px 0 0;
  }

  .contact {
    letter-spacing: 0;
    margin-bottom: 5px;
  }
}

/* For tablet */
@media screen and (max-width: 700px) {
  body {
    font-size: 12px;
  }

  main {
    background-image: url(assets/room1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 0px;
  }

  .company-symbol {
    width: 50px;
    height: 50px;
    padding: 60px 0 0 60px;
  }

  .nav-list {
    margin-left: 15px;
  }

  .nav-icon {
    margin-left: 20px;
  }

  .nav-menu,
  .nav-icon-list {
    padding: 20px 20px 20px 0;
  }

  h3,
  .message {
    padding-left: 50px;
  }

  .shop-now {
    margin: 50px 50px 0 50px;
    padding: 10px 20px;
  }

  .image-latest {
    width: 150px;
    height: 200px;
  }

  .btn-guide {
    margin-left: 120px;
  }

  .company-symbol-footer {
    height: 50px;
    width: 50px;
  }

  footer {
    font-size: 9px;
  }

  .company-info {
    padding: 20px 0 0 10px;
  }

  .contact-info {
    padding: 20px 10px 0 0;
  }
}

/* For phone */
@media screen and (max-width: 500px) {
  body {
    font-size: 13px;
  }

  main {
    height: 100vh;
  }

  .home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h3 {
    padding: 0;
  }

  .message {
    padding: 30px 0;
  }

  .btn-homepage {
    margin: 0;
  }

  .nav-bar {
    display: flex;
    flex-direction: column-reverse;
  }

  .nav-menu {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
  }

  .nav-icon-list {
    padding: 20px 20px 10px 0;
    border-bottom: #b09a85 1px solid;
  }

  .page-title {
    font-size: 1.5em;
    padding: 15px 0;
  }

  .best-image {
    width: 200px;
    height: 200px;
    padding: 10px;
  }

  .policy {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .policy-list,
  .policy-icon {
    font-size: 1.4em;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
  }

  .policy-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 20px 0 20px;
  }

  .shipping,
  .design,
  .material {
    width: 100%;
    padding: 20px 0;
    margin: 0, 16px;
  }

  .design {
    border-top: #b09a85 1px solid;
    border-bottom: #b09a85 1px solid;
  }

  .guide-sentence-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

  .guide-sentence {
    font-size: 1.5em;
    padding: 60px 0 0 0;
  }

  .guide-sentence:nth-child(2) {
    padding: 0;
  }

  .guide-to-shopsite {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50vh;
  }

  .btn-guide {
    margin: 20px 0 0 0;
  }

  .subsc-title {
    font-size: 1.2em;
  }

  .footer-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .company-info,
  .phone-number,
  .mail-address,
  .social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .contact-icon {
    padding: 0 7px;
  }
}
